/* Reglas Especificas */
:is(#ocultar,#ocultar1,#ocultar2,#ocultar3,#ocultar4,#ocultar5,#ocultar6,#ocultar7){
    display: none;
}
#chk:checked + #ocultar{
    display: block;
}
#chk1:checked + #ocultar1{
    display: block;
}
#chk2:checked + #ocultar2{
    display: block;
}
#chk3:checked + #ocultar3{
    display: block;
}
#chk4:checked + #ocultar4{
    display: block;
}
#chk5:checked + #ocultar5{
    display: block;
}
#chk6:checked + #ocultar6{
    display: block;
}
#chk7:checked + #ocultar7{
    display: block;
}
.s1{
    margin: 6%;
    text-align: justify;
}
.s1 h4{
    color: #386641;
    padding: 2%;
    border: 3px solid #386641;
    border-radius: 5px;
    margin-bottom: 10px;
}
.s1 button{
    width: 80px;
    border: none;
    background-color: #fbfbfb;
    display: flex;
    justify-self: end;
}
.s1 label{
    margin: auto;
    color: #6a994e;
}
.s1 input{
    display: none;
}
.s1 h2{
    color:#6a994e;
}
.s1 span{
    color: #6a994e;
}
.adoptar_text, .lista, .correo, .acogida, .perros, .abandonados,.madrid,.informacion{
    margin-top: 20px;
}
:is(.adoptar_text, .correo_text, .acogida_text, .perros_text, .abandonados_text,.madrid_text,.informacion_text,
.madrid_text) p{
    margin-block: 10px;
}
.madrid_excepcion{
    text-align: center;
}
.tallas_text{
    padding-inline: 0px !important;
}
.tallas table{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.tallas tbody{
    width: 100%;
}
.tallas td{
    width: 63%;
}
.tallas p{
    margin-block: 0% !important;
    padding-inline: 5px;
}
.title{
    border: 2px solid #386641;
}
.title p{
    color: #386641;
    font-weight: 600;
    text-align: center;
}

/* Responsive */
    /* Media Tablet (768px) */
    @media (min-width: 768px){
        /* Generales */
        p, span{
            font-size: 16px !important;
        }
        /* Header */
        .header_mob{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-content: center;
        }
        .logo{
            width: 40%;
            padding-left: 35px;
        }
        .logo img{
            width: 150px;
            height: 150px;
        }
        .logo h1{
            font-size: 42px;
            line-height: 30px;
        }
        .menu{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }
        .menu ul{
            width: 100%;
            margin: auto;
        }
        .navegador li{
            width: 130px;
            height: 50px;
        }
        .navegador a{
            width: 100%;
            height: 100%;
            font-size: 20px;
        }
        /* Seccion 1 */
        .s1 h4{
            font-size: 35px;
        }
        .s1 h2{
            font-size: 30px;
        }
        .adoptar, .lista, .correo, .acogida, .perros, .abandonados,.madrid,.informacion{
            margin-block: 20px;
        }
        .s1 button{
            width: 120px;
            height: 30px;
        }
        .s1 button > label{
            width: 100%;
            height: 100%;
            font-size: 20px;
        }
        /* Footer */
        footer{
            display: flex;
            flex-direction: row;
            color: #fbfbfb;
        }
        footer a{
            font-size: 18px !important;
            font-family: NotoSans_Regular;
        }
        .contacto{
            width: 145%;
            margin-inline: 3% 2%;
            margin-bottom: 2%;
        }
        .contacto img{
            width: 22px;
        }
        .privacidad{
            margin-inline-start: 0%;
        }
        .rrss i {
            font-size: 48px;
        }
        .tallas table{
            margin-block: auto;
        }
        .tallas tbody {
            margin-top: 2%;
            width: 50%;
          }
    }
    /* Media Ordenador (1280px) */
    @media (min-width: 1280px){
        p, span{
            font-size: 20px !important;
        }
    }
    